#home{
	background-image: url('../images/bg.jpg');
	background-size: cover;;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 800px;
	color: #ffffff;
}
